include ../../../html/jade-helpers.jade

header#global-header
  h1 Doherty Soccer
  span#nav-toggle Menu

nav#global-nav
  ul#nav-menu
    li
      a(href="#") Home
    li
      a(href="#") Sign In
    li
      a(href="#") Articles
    li
      a(href="#") Leagues / Cups
    li
      a(href="#") Players
    li
      form#search-field
        i.foundicon-search.general-icon
        input(type="text", placeholder="Search")

  //- +partial("global-nav-footer/html/global-nav-footer.jade","modules/global-nav-footer/data/global-nav-footer.json")
