@import "../../../style/pieces/vars";
@import "../../../style/pieces/mixins";

$nav-border: #4d4d4d;

#global-header {
  background: $black;
  color: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  padding: 0.5rem 0;
  border-bottom: 4px solid darken($green, 18%);
  @include flexbox();
  @include mq(netbook) {
    padding: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    @include flex(3);
    margin-left: 5%;
    font-family: $bold;
    text-transform: uppercase;
    @include transition(margin, 0.3s);
    @include px(font-size, 18px);
    a {vertical-align: sub;}
    @include mq(netbook) {
      margin-left: 10%;
      @include flex(1);
      padding: 0.4rem 0;
    }
  }
}


#global-nav {
  @include flex(1);
  margin-right: 5%;
  line-height: 1;
  @include mq(netbook) {
    margin-right: 10%;
    @include flex(2);
    position: relative;
  }
}



#nav-toggle {
  display: inline-block;
  width: 100%;
  min-height: 1.5rem;
  position: relative;
  @include hover();
  @include mq(netbook) {
    display: none;
  }
  // the good stuff / base settings
  // ------------------------------
  .fi-list, .fi-x {
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
    font-size: 150%;
    @include transition(opacity, 0.3s);
  }
  .fi-list {
    background: $green;
    z-index: 505;
  }
  .fi-x {
    background: darken($black2, 10%);
    color: darken($white, 15%);
    z-index: 504;
    opacity: 0;
  }
  // show X when nav is open
  &.show-x {
    .fi-list {
      z-index: 504;
      opacity: 0;
    }
    .fi-x {
      z-index: 505;
      opacity: 1;
    }
  }
}



#nav-menu {
  list-style: none;
  height: 0;
  position: fixed;
  left: 0;
  top: 2.75rem;
  width: 100%;
  z-index: 50;

  // off-screen styles
  -webkit-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  -o-transform: translateY(-400px);
  transform: translateY(-400px);
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  &.nav-show {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  li {
    background: darken($black, 5%);
    color: darken($white, 20%);
    border-bottom: 1px solid $nav-border;
    @include px(font-size, 18px);
    padding: 1rem 0 0.75rem;
    @include transition(background, 0.3s);
    &:last-child {
      border: none;
      }
    &.here {
      position: relative;
      &:after {
        content: "\00a0";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2%;
        background: $green;
      }
      }
  }
  a {
    display: inline-block;
    width: 100%;
    margin-left: 5%;
    @include transition(color, 0.3s);
    &:hover {color: $white;}
  }
  .fi-magnifying-glass {
    display: none;
    font-size: 125%;
    @include hover();
    @include mq(netbook) {display: inline-block;}
  }
  // netbook and wider styles
  @include mq(netbook) {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    left: inherit;
    li {
      float: left;
      display: inline-block;
      background: inherit;
      border-right: 1px solid $white;
      vertical-align: sub;
      padding: 0.5rem 0.75rem;
      @include px(min-height, 38px);
      &:hover {
        background: darken($green, 15%);
        border-bottom: 1px solid darken($green, 20%);
      }
      &:first-child {border-left: 1px solid $white;}
      &:last-child {padding: 0.5rem 0.75rem; }
      &.here {
        background: $green;
        border-bottom: 1px solid $green;
        color: $white;
      }
    }
    a {
      padding: 0;
      margin: 0;
      vertical-align: sub;
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  }
}


#search-field {
  margin-left: 5%;
  position: relative;
  input[type="text"] {
    width: 100%;
    background: #1a1a1a;
    border: none;
    margin: 0;
    color: $white;
    font-family: $italic;
    @include px(font-size, 16px);
    @include px(padding-left, 26px);
    @include units(min-height, 1);
    &:focus {font-family: $regular;}
  }
}
#search-text {
  margin-left: 5%;
  @include mq(netbook) {
    display: none;
  }
}