@import "../../../style/pieces/vars";
@import "../../../style/pieces/mixins";

#search-li {
  padding-top: 0.75rem !important;
  position: relative;
  @include mq(netbook) {
    padding: 0.1rem 0.7rem 0 !important;
  }
}

#search-toggle {
  position: relative;
  z-index: 40;
  padding: 0.35rem 0 0.25rem;
  margin: 0 5%;
  @include transition(opacity, 0.1s);
  &.hidden {
    opacity: 0;
    z-index: 0;
  }
}

#search-text {
  @include mq(netbook) {
    display: none;
  }
}

#search-form {
  position: absolute;
  z-index: 35;
  top: 0.75rem;
  width: 89%;
  margin: 0 5%;
  @include flexbox();
  align-items: center;
  @include transition(opacity, 0.1s);
  input[type="text"] {
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
    margin-bottom: 0;
    background: lighten($black2, 20%);
    color: $white;
    border: none;
    @include flex(9);
  }
  &.hidden {
    opacity: 0;
    z-index: -1;
    display: none;
  }
  @include mq(netbook) {
    @include px(min-width, 300px);
    right: 0;
    top: 2.6rem;
    background: $green;
    padding: 0.75rem 1rem 1rem;
    margin: 0;
  }
}

#search-form-close {
  @include flex(1);
  text-align: right;
  color: lighten($black, 50%);
}

#search-results {
  background: darken($green, 10%);
  margin-top: 0.875rem;
  padding-top: 2rem;
  .t7 {
    margin-left: 5%;
    color: #fff;
  }
  @include mq(netbook) {
    position: absolute;
    right: 0;
    @include px(width, 300px);
    margin-top: 3.5rem;
  }
}

#search-results-list {
  li {
    background: transparent;
    @include mq(netbook) {
      display: block;
      float: none;
      margin: 0.5rem 0;
      a {
        margin-bottom: 0.5rem;
      }
    }
  }
}