footer#global-footer
  //- article categories / view all
  //- section#site-content
    h2.t7 Article Series
    ul.article-categories
      li
        a(href="01-article-category-series.html") Soccer In America
      li
        a(href="01-article-category-series.html") US &amp; Mexico
      li
        a(href="01-article-category-series.html") Cuba
      li
        a(href="01-articles-index.html") View all

  //- social media
  section#social-media
    h3.t7 Follow
    ul.social-links
      li
        a(href="#")
          i.fi-social-facebook
      li
        a(href="#")
          i.fi-social-twitter
      li
        a(href="#")
          i.fi-mail
  
  //- site details
  section#site-details        
    ul#extra-details
      li
        h3
          a(href="#") About
      li
        h3
          a(href="#") Privacy
      li
        h3
          a(href="#") Settings
    h3#copyright Doherty Soccer &copy; 2013