footer#global-footer
  //- social media
  section#social-media
    h3.t7 Follow
    ul.social-links
      li
        a(href="https://www.facebook.com/dohertysoccer")
          i.fi-social-facebook
      li
        a(href="https://twitter.com/dohertysoccer")
          i.fi-social-twitter
      li
        a(href="#")
          i.fi-mail
  
  //- site details
  section#site-details        
    ul#extra-details
      li
        h3
          a(href="00-about-page.html") About
      li
        h3
          a(href="00-privacy-policy.html") Privacy
      li
        h3
          a(href="04-profile.jade") Settings
    h3#copyright Doherty Soccer &copy; 2014