footer#global-footer
  //- social media
  section#social-media
    h3.t7 Follow
    ul.social-links
      li
        a(href="#")
          i.fi-social-facebook
      li
        a(href="#")
          i.fi-social-twitter
      li
        a(href="#")
          i.fi-mail
  
  //- site details
  section#site-details        
    ul#extra-details
      li
        h3
          a(href="#") About
      li
        h3
          a(href="#") Privacy
      li
        h3
          a(href="#") Settings
    h3#copyright Doherty Soccer &copy; 2014