include jade-helpers.jade
include meta.jade

  <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  //- load modernizr
  script(src="js/libs/modernizr.js")

  //- load main site styles
  link(rel="stylesheet", href="style/style.min.css")
