# virtualenv stuff
build/deploy/bin
build/deploy/include
build/deploy/lib
build/deploy/.Python

# django deets
build/deploy/ds/db.sqlite3
build/deploy/ds/ds/secret.py
build/deploy/ds/static
build/deploy/ds/media

# project files
docs/
src/node_modules/
src/.sass-cache
build/debug
