div.comment
	//- upvote/downvote
	ul.comment-vote
		li
			i.fi-arrow-up
		li
			i.fi-arrow-down
	//- the comment
	article.comment-content
		h4.comment-meta <a href="#">#{data.commentAuthor}</a> on #{data.postDate} at #{data.postTime}
		p.comment-text #{data.comment}
		ul.inline.comment-actions
			li reply
			li report
