div#forgotten-password-form-wrapper
  form#forgotten-password-form(action="#", method="POST")
    p
      label.label-underline
        span Email
        input(type="email", name="email")
    div.flex-all
      span
        //- a(href="03-register.html") Register
        input(type="submit", value="Send email")