div.form-wrapper#login-form-wrapper
  form.form#login-form(action="#", method="POST")
    p
      label.label-underline
        span Username
        input(type="text", name="username")
    p 
      label
        span Password
        input(type="password", name="password")
    div.flex-all
      span#forgot-password
        a(href="03-forgotten-password.html") Forgot password?
      span
        a(href="03-register.html") Register
        input(type="submit", value="Login")