div#login-form-wrapper
  form#login-form(action="#", method="POST")
    p
      label#username-label
        span Username
        input(type="text")
    p 
      label
        span Password
        input(type="password")
    div.flex-all
      span#forgot-password
        a(href="03-forgotten-password.html") Forgot password?
      span
        a(href="03-register.html") Register
        input(type="submit", value="Login")