footer#gloval-nav-footer
  ul#footer-links.inline
    - for(j=0; j<data.footerLinks.length; j++) {
      li
        a(href="#{data.footerLinks[j].link}") #{data.footerLinks[j].text}
    - }
  div#footer-sections
    section#site-settings
      form(action="#", method="post")
        //- //- date settings
        //- h3.nav-footer-header Date Settings
        //- label
        //-   input(type="radio", name="date-settings", value="m-d-y")
        //-   span MM/DD/YYYY
        //- label
        //-   input(type="radio", name="date-settings", value="d-m-y")
        //-   span DD/MM/YYYY
        //- //- units
        //- h3.nav-footer-header Units
        //- label
        //-   input(type="radio", name="units", value="metric")
        //-   span Metric
        //- label
        //-   input(type="radio", name="units", value="standard")
        //-   span Standard
        //- //- language
        //- h3.nav-footer-header Language
        //- label
        //-   input(type="radio", name="language", value="english")
        //-   span(title="English") En
        //- label
        //-   input(type="radio", name="language", value="espanol")
        //-   span(title="Espanol") Es
        //- font-size
        h3.nav-footer-header Font-size
        label
          input(type="radio", name="font-size", value="small")
          span Small
        label
          input(type="radio", name="font-size", value="normal")
          span Normal
        label
          input(type="radio", name="font-size", value="large")
          span Large
    section#about
      p <strong>Doherty Soccer</strong> covers the CONCACAF region of soccer. We follow soccer in the US and Mexico as well as cup competitions.
      p Contact us
    section#privacy-policy
      p We will never sell your information to any company, ever. Google Analytics is used to measure site activity.

    //-   - for (i=0; i< data.globalNav.length; i++) {
    //-       if data.globalNav[i].text == "Search"
    //-       else
    //-   - }
