#forgotten-password #main {
	background: url("/img/backgrounds/previa-america-cruz-azul-copa-mx-semifinales-2013.jpg");
	background-size: cover;
}

#forgotten-password-form .flex-all span:last-child {
	text-align: center;
}