@import "../../../style/pieces/vars";
@import "../../../style/pieces/mixins";

body[data-page="signin"] {
	#main {
		background-position: 0;
		position: relative;
		padding: 40% 0;
		@include mq(netbook) {
			padding: 20% 0 28%;		
		}
		&:after {
			content: "\00a0";
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			background: $green;
			opacity: 0.6;
		}
	}
	#global-footer {
		margin-top: 0;
	}
}

.form {
	position: relative;
	z-index: 50;
	color: $white;
	background: rgba($black2, 0.85);
	padding: 1.5rem 1rem 1.25rem;
	max-width: 24rem;
	margin: 0 auto;
	a {
		color: inherit;
		text-decoration: none;
	}
	p {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}
	label {
		@include flexbox();
		span {
			padding-top: 0.4rem;
			@include flex(1);
			font-size: 0.75rem;
			@include mq(tablet) {font-size: 0.875rem;}
		}
	}
	input[type="text"], input[type="email"], input[type="password"] {
		padding: 0.25rem;
		font-size: 1.25rem;
		width: 70%;
		background: rgba($silver, 0.3);
		border: none;
		color: #fff;
		border-radius: 4px;
		margin: 0;
		@include flex(3);
	}
	input[type="submit"] {
		border: none;
		background: transparent;
		color: $white;
		font-size: 1rem;
		margin: 0;
		padding-right: 1rem;
		@include hover();
		// text-align: center;
		// @include transition(background, 0.3s);
		// &:hover {
		// 	background: $green;
		// 	color: #fff;
		// 	cursor: pointer;
		// }
	}
	.flex-all {
		margin-top: 1rem;
		span {
			@include flex(1);
			&:last-child {
				text-align: right;
			}
		}
	}
	@include mq(netbook) {
		padding: 2rem 2rem 1.5rem;
	}
}

.form-wrapper {
	margin: 0 5%;
	@include mq(netbook) {
		margin: 0 10%;
	}
}

.label-underline {
	border-bottom: 1px solid rgba($silver, 0.3);
	padding-bottom: 0.5rem;
}

@import "forgot-password";
@import "login";
@import "register";
