#login #main {
	background: url("/img/backgrounds/rhinos-1.jpg");
	background-size: cover;
}



#forgot-password {
	font-size: 0.875rem !important;
	vertical-align: middle;
	a {
		margin: 0 !important;
		position: relative;
		top: 0.25rem;
	}
}