@import "../../../style/pieces/vars";
@import "../../../style/pieces/mixins";

#register #main {
	background: url("/img/backgrounds/Goal_celebration_New_York_Red_Bulls_vs_San_Jose_Earthquakes_2011.jpg");
	background-size: cover;
}

#register-form {
	p {
		margin-bottom: 1.25rem;
	}
}
#register-p {
	margin-bottom: 0.5rem !important;
	+ p {
		margin-bottom: 0.5rem;
	}
}

#register-underline {
	padding-bottom: 1.25rem;
}

#register-confirm {
	color: lighten($black, 30%);
}

#terms-and-conditions {
	span {
		display: inline-block;
		margin-bottom: 0.25rem;
		font-size: 0.875rem;
	}
	input {
		margin-right: 0.5rem;
		margin-bottom: 0;
	}
	a {
		text-decoration: underline;
	}
}
