include ../html/jade-helpers.jade
!!! 5

head
  title Doherty Soccer
  meta(name="description", content="homepage demo")
  include ../html/head.jade

body#homepage(data-page="home")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    //- header
    include ../modules/global-header/html/global-header.jade
        
    //- main
    div#main
      div#latest-articles
        //- latest post
        section#latest-post
          h2.t7 Latest Post          
          article.article-post
            //- title
            h3.article-title
              a(href="01-article-page.html") Mexico U-17 Capitalizes on its Chances against Italy
            //- meta
            span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">El Tri</a>
                span.posted-on October 31, 2013
            //- feature image
            figure.article-figure
              //- a(href="01-article-page.html")
              img.article-img(src="img/articles/VMB_crop_650.jpg")
              figcaption Mexico’s U-17 celebrate the game winning goal from Ivan Ochoa. <span class="img-source">Image courtesy of <a href="#">premiumtimesng.com</a></span>
            //- leadin
            p.lead-in Mexico’s 2013 U-17 World Cup campaign didn’t get off to the start head coach Raúl ”Potro” Gutiérrez may have wanted, but the team rallied to advance to the knockout stage.
            h4.article-header First Half
            p Omar Govea maintained his place in the startling line-up ahead of José Almanza and Erick Aguirre did the same in place of Francisco Calderón, the right back whose fitness has been challenged earlier in the tournament.
            a.read-article(href="01-article-page.html") Continue reading

        //- recent posts
        section#recent-posts
          h2.t7 Recent Posts
          +partial("article/html/recent-articles.jade","modules/article/data/recent-articles.json")
          a(href="01-articles-index.html") View all posts

      //- section#concacaf-match-calendar
        h3.t7 Match Calendar
        +partial("league-schedule/html/league-schedule-small.jade","modules/league-schedule/data/league-schedule.json")

    //- footer
    include ../modules/global-footer/html/global-footer.jade
    
  include ../html/foot.jade
</html>
