include ../html/jade-helpers.jade
!!! 5

head
  title homepage demo
  meta(name="description", content="homepage demo")
  include ../html/head.jade
  +css("article")
  +css("global-nav")

body#homepage
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    +partial("global-nav/html/global-nav.jade","modules/global-nav/data/global-nav.json")
    section#main
      div.wrapper
        //- latest article preview
        section#article-preview
          +partial("article/html/article-preview.jade","modules/article/data/article.json")
        //- Recent posts
        section#recent-posts
          h3.t7 Recent Posts
          +partial("article/html/recent-articles.jade","modules/article/data/recent-articles.json")

  include ../html/foot.jade
  +js("article")
  +js("global-nav")
</html>
