include ../html/jade-helpers.jade
!!! 5

head
  title homepage demo
  meta(name="description", content="homepage demo")
  include ../html/head.jade
  +css("global-nav")
  +css("article")
  +css("league-schedule")

body#homepage
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    +partial("global-nav/html/global-nav.jade","modules/global-nav/data/global-nav.json")
    
    //- main
    section#main
      //- div#test
      //-   h2.t7 Latest Post
      //-     //- title
      //-     h3.article-title
      //-       a(href="01-article-page.html") Mexico U-17 Capitalizes on its Chances against Italy
      //-     //- meta
      //-     span.article-meta Posted in <a href="#" class="article-category">El Tri</a>
      //-         span.posted-on October 31, 2013


      section#latest-articles
        //- latest post
        section#latest-post
          h2.t7 Latest Post
          
          //- match result
          //- aside#match-result
            h4.t5 Mexico 2 - 0 Italy

          article.article-post
            //- title
            h3.article-title
              a(href="01-article-page.html") Mexico U-17 Capitalizes on its Chances against Italy
            //- meta
            span.article-meta Posted in <a href="#" class="article-category">El Tri</a>
                span.posted-on October 31, 2013
            //- feature image
            figure.article-figure
              a(href="01-article-page.html")
                img.article-img(src="img/articles/VMB_crop_650.jpg")
              figcaption Mexico’s U-17 celebrate the game winning goal from Ivan Ochoa. <span class="img-source">Image courtesy of <a href="#">premiumtimesng.com</a></span>
            //- leadin
            p.lead-in Mexico’s 2013 U-17 World Cup campaign didn’t get off to the start head coach Raúl ”Potro” Gutiérrez may have wanted, but the team rallied to advance to the knockout stage.
            h4.article-header First Half
            p Omar Govea maintained his place in the startling line-up ahead of José Almanza and Erick Aguirre did the same in place of Francisco Calderón, the right back whose fitness has been challenged earlier in the tournament.
            //- p From the outset, Salomón Wbias did well to organize his defense and routinely stepped up to make important interceptions throughout the game. Italy’s big center forward, Alberto Cerri, was a constant threat to Mexico’s defense and the central defenders struggled at times to contain him.
            //- p During the first few minutes, Ulises Jaimes dropped into midfield to receive a ball to his feet and play it back as Alejandro Díaz drove forward to accept the subsequent long ball over the top of the defense. This encapsulated the role of each of Mexico’s forwards as Díaz continued to play as a target forward and Jaimes worked into the channels and back into midfield.
            //- p In the first 15 minutes, each team had a corner kick but neither goalkeeper had been troubled with a shot on frame. Minutes later Raúl Gudiño aptly tipped an Italian free kick over his crossbar. After this chance, Italy put together a nice spell of sustained pressure in the Mexican half but El Tri stood firm. As the first half wore on the two teams began trading chances and opening holes in the opposition defense.
            a.read-article(href="01-article-page.html") Continue reading

        //- recent posts
        section#recent-posts
          h2.t7 Recent Posts
          +partial("article/html/recent-articles.jade","modules/article/data/recent-articles.json")
          a(href="#") View all posts

      //- section#concacaf-match-calendar
        h3.t7 Match Calendar
        +partial("league-schedule/html/league-schedule-small.jade","modules/league-schedule/data/league-schedule.json")


    //- footer
    footer#global-footer
      //- article categories / view all
      section#site-content
        h2.t7 Article Series
        ul.article-categories
          li
            a(href="#") Soccer In America
          li
            a(href="#") US &amp; Mexico
          li
            a(href="#") Cuba
          li
            a(href="#") View all

      //- social media
      section#social-media
        h3.t7 Follow
        ul.social-links
          li
            a(href="#")
              i.fi-social-facebook
          li
            a(href="#")
              i.fi-social-twitter
          li
            a(href="#")
              i.fi-mail
      
      //- site details
      section#site-details        
        ul#extra-details
          li
            h3
              a(href="#") About
          li
            h3
              a(href="#") Privacy
          li
            h3
              a(href="#") Settings
        h3#copyright Doherty Soccer &copy; 2013

  include ../html/foot.jade
  +js("article")
  +js("global-nav")
</html>
