include ../html/jade-helpers.jade
!!! 5

head
  title Mexico U-17 Capitalizes on its Chances against Italy | Doherty Soccer
  meta(name="description", content="Mexico U-17 Capitalizes on its Chances against Italy")
  include ../html/head.jade

body#article-post(data-page="article")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    //- header
    include ../modules/global-header/html/global-header.jade

    div#main
      //- article
      +partial("article/html/article.jade","modules/article/data/article.json")
      
      //- tags
      section#article-tags
        //- players
        h3.t7 Featured Players
        ul.article-tags
          li
            a(href="#") Alejandro Díaz
          li
            a(href="#") Christian Tovar
          li
            a(href="#") Erick Aguirre
          li
            a(href="#") Iván Ochoa
          li
            a(href="#") José Robles
          li
            a(href="#") Luis Hernández
          li
            a(href="#") Marco Granados
          li
            a(href="#") Omar Govea
          li
            a(href="#") Osvaldo Rodríguez
          li
            a(href="#") Pedro Terán
          li
            a(href="#") Raúl Gudiño
          li
            a(href="#") Salomón Wbias
          li
            a(href="#") Ulises Jaimes
          li
            a(href="#") Ulises Rivas
        h3.t7 Key People
        ul.article-tags
          li
            a(href="#") Raúl "Potro" Gutiérrez
        h3.t7 Tags
        ul.article-tags
          li
            a(href="") 2013 FIFA U-17 World Cup
          li
            a(href="#") Italy U-17
          li
            a(href="#") Mexico sub-17
          li
            a(href="#") Mexico u-17

      //- recommend + share
      section#share-article
        h3.t7 Recommend
        ul.share-article
          li
            i.fi-social-facebook
          li
            i.fi-social-google-plus
          li
            i.fi-social-reddit
          li
            i.fi-social-stumbleupon
          li
            i.fi-social-tumblr
          li
            i.fi-social-twitter

      //- 
      div.flex
        //- next read
        section#next-article
          h3.t7 Next post
          article.article-post
            h4.article-title
              a(href="#") Tottenham Hotspur and US U17 Team Highlight 2013 IMG Invitational Tournament
            p.lead-in I try to keep abreast of important international club tournament and this week a somewhat minor competition caught my eye.
            a(href="#").read-article Read more
        
        //- related articles
        section#related-articles
          h3.t7 Related articles
          ul.related-articles
            li
              article.article-preview
                h4.article-title
                  a(href="#") Sub-17 Copa Independencia 2012 and the Generation Adidas Cup
            li
              article.article-preview
                h4.article-title
                  a(href="#") USDA's u14 division and UEFA's Youth League
            li
              article.article-preview
                h4.article-title
                  a(href="#") U.S. U-18 Team in Lisbon International Tournament


        
      //- comments list
      section#comments
        div.flex
          //- comment form
          +partial("comments/html/comment-form.jade","modules/comments/data/comment-form.json")

          //- list of comments
          div#comments-list
            h3.t7 Comments
            ul.comments-list
              li
                +partial("comments/html/comment-post.jade","modules/comments/data/comment-post.json")
              li
                +partial("comments/html/comment-post.jade","modules/comments/data/comment-post-2.json")
              li
                +partial("comments/html/comment-post.jade","modules/comments/data/comment-post-3.json")

    //- footer
    include ../modules/global-footer/html/global-footer.jade

  include ../html/foot.jade
</html>
