include ../html/jade-helpers.jade
!!! 5

head
	title Articles | Doherty Soccer
	meta(name="description", content="Articles | Doherty Soccer")
	include ../html/head.jade

body#article-series(data-page="article")
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		//- header
		include ../modules/global-header/html/global-header.jade

		//- main
		div#main
			//- div.article-category-wrapper
			hgroup.article-category-hgroup
				h2 Soccer In The Us
				p 12 pubilshed articles
					| &nbsp;&nbsp;
					span.subscribe-btn
						i.fi-plus 
						| Subscribe

			div#latest-2.latest-category-posts
				article
					p.article-meta-2 Posted on February 10, 2014
					h3.article-title
						a(href="#") American Soccer League; Another Addition to the Sport’s Alphabet Soup
					p The new proposed league’s flashy website is high on promise but low on substance. All of the information available on the site is published in the form of a junior high school book report’s PowerPoint presentation.
					p.read-more
						a(href="#") Read more

				article
					p.article-meta-2 Posted on February 7, 2014
					h3.article-title
						a(href="#") A Quick Response to First Eleven Podcast: Episode 14
					p This is going to be brief because I was already thoroughly mean about a previous episode of the podcast, which I do enjoy listening to and encourage anyone who reads this to do as well.
					p.read-more
						a(href="#") Read more

			div#more-recent.latest-category-posts
				article
					p.article-meta-2 Posted on February 7, 2014
					h4.article-title
						a(href="#") What happens when a USL-Pro team doesn’t have a single, quality stadium? Strug-city
					p There are several indicators one can use to judge or measure a professional sports team. The most common is probably through the results on the field in terms of regular season standings or the ability to perform in the postseason. Bored Americans (like myself) seem to obsess over attendance statistics. In the age of internet dominance, social media engagement can be equally as important as traditional community marketing for smaller sports franchises.
					p.read-more
						a(href="#") Read more

				article
					p.article-meta-2 Posted on February 7, 2014
					h4.article-title
						a(href="#") Initial Analysis of 2014 USL-Pro Schedule
					p “back-to-back” means that a team plays games on consecutive days. “two-games-in-three-days” means that a team has one day to rest/travel between games. “mid-week” means Tuesday, Wednesday, or Thursday
					p.read-more
						a(href="#") Read more

				article
					p.article-meta-2 Posted on February 7, 2014
					h4.article-title
						a(href="#") Looking at the 2014 NASL Schedule
					p For the 2014 season, NASL will continue using its split-season format which mirrors most of the Latin America but is unique to American professional soccer.
					p.read-more
						a(href="#") Read more

			div.latest-category-posts
				article.article-preview
					p.article-meta-2 Posted on January 29, 2014
					h4.article-title 
						a(href="#") My Response to Episode 12 of the First Eleven Podcast
					p.read-more
						a(href="#") Read more
				article.article-preview
					p.article-meta-2 Posted on January 4, 2014
					h4.article-title
						a(href="#") Cuba’s Golden Ball Winner of 2013 – Ariel Martinez
					p.read-more
						a(href="#") Read more
				article.article-preview
					p.article-meta-2 Posted on December 31, 2013
					h4.article-title
						a(href="#") Rochester Native Jordan Allen Signs Homegrown Contract with Real Salt Lake
					p.read-more
						a(href="#") Read more
				article.article-preview
					p.article-meta-2 Posted on December 31, 2013
					h4.article-title
						a(href="#") Youth Player Development in Lower Division Clubs
					p.read-more
						a(href="#") Read more

		//- footer
		include ../modules/global-footer/html/global-footer.jade

	include ../html/foot.jade
</html>