include ../html/jade-helpers.jade
!!! 5

head
	title Articles | Doherty Soccer
	meta(name="description", content="Articles | Doherty Soccer")
	include ../html/head.jade

body.article-category-series#soccer-in-the-us(data-page="article")
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		//- header
		include ../modules/global-header/html/global-header.jade

		//- main
		div#main
			div.article-category-wrapper
				hgroup.article-category-hgroup
					h2 Soccer In The Us
					p 12 pubilshed articles
						//- | | 
						//- span.subscribe-btn
							i.fi-plus 
							| Subscribe





		//- footer
		include ../modules/global-footer/html/global-footer.jade

	include ../html/foot.jade
</html>