include ../html/jade-helpers.jade
!!! 5

head
  title Articles | Doherty Soccer
  meta(name="description", content="Articles | Doherty Soccer")
  include ../html/head.jade

body#articles-index(data-page="article")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    //- header
    include ../modules/global-header/html/global-header.jade

    //- main
    div#main
      section#all-articles
        h2.t7#all-articles-header All Articles

        //- topics
        section#article-topics
          
          div.flex-all
            h3.t7 All Topics
            span#all-topics-toggle.toggle
              span.expand Expand
              span.collapse Collapse

          div#all-topics-wrapper
            //- clubs
            div
              h4.t3 Clubs
              ul.topics-list
                li
                  a(href="01-article-category-series.html") Club America
                li
                  a(href="01-article-category-series.html") FC Buffalo
                li
                  a(href="01-article-category-series.html") New York Red Bulls
                li
                  a(href="01-article-category-series.html") Rochester Rhinos
                li
                  a(href="01-article-category-series.html") Tottenham Hotspur
            //- usa
            div
              h4.t3 US
              ul.topics-list
                li
                  a(href="01-article-category-series.html") MLS
                li
                  a(href="01-article-category-series.html") NASL
                li
                  a(href="01-article-category-series.html") U.S. Open Cup
                li
                  a(href="01-article-category-series.html") USL-Pro
                li
                  a(href="01-article-category-series.html") USMNT
            //- mexico
            div
              h4.t3 MX
              ul.topics-list
                li
                  a(href="01-article-category-series.html") Ascenso MX
                li
                  a(href="01-article-category-series.html") Liga MX
                li
                  a(href="01-article-category-series.html") El Tri
            //- series
            div
              h4.t3 Series
              ul.topics-list
                li
                  a(href="01-article-category-series.html") Soccer In America
                li
                  a(href="01-article-category-series.html") College Soccer
                li
                  a(href="01-article-category-series.html") Cuba!
            //- other
            div
              h4.t3 Other
              ul.topics-list
                li
                  a(href="01-article-category-series.html") Match Highlights
                li
                  a(href="01-article-category-series.html") Match Preview
                li
                  a(href="01-article-category-series.html") Match Report
                li
                  a(href="01-article-category-series.html") Weekly Wrap-Up
                li
                  a(href="01-article-category-series.html") Attendances
                li
                  a(href="01-article-category-series.html") Important Other Stuff

        //- published articles
        section#published-articles
          h3.t7 Published Articles
          ul.published-articles
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Grading My 2013 Wishlist for Lower Division American Soccer
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">US Soccer</a>
                  span.posted-on December 30, 2013
                p.lead-in In the first few days of January of this year, I posted a 3-piece Wishlist for lower division soccer. Now that 2013 has drawn to a close, I thought it would be a good time to dig up those 3 points and judge how well they were fulfilled during the year that was.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Tottenham Hotspur and US U17 Team Highlight 2013 IMG Invitational Tournament
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">Youth Tournaments</a>
                  span.posted-on December 17, 2013
                p.lead-in I try to keep abreast of important international club tournament and this week a somewhat minor competition caught my eye.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Leones Negros is the Liga Ascenso MX Apertura 2013 Champion!
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">Acensco MX</a>
                  span.posted-on December 17, 2013
                p.lead-in Club Universidad de Guadalajara, known affectionately as Leones Negros [the Black Lions for those truly Spanish-impaired readers], won the fall season of Mexico’s second division. In addition to some nice silverware, the victory in Liga Ascenso MX’s Apertura 2013 earns U de G a place in the promotion playoff against the winner of the Clausura 2014.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Lower Division Clubs Make Marquee Signings
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">US Soccer</a>
                  span.posted-on November 19, 2013
                p.lead-in A number of clubs in NASL and USL-Pro have announced big player acquisitions early in the off-season. All of these players have previously played at a different U.S. club.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Mexico’s National U-20 and U-17 Youth Leagues
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">MX Soccer</a>
                  span.posted-on November 18, 2013
                p.lead-in Just as Liga MX and Ascenso MX have concluded their regular seasons and are poised to begin the Liguillas (playoffs, for those not in the know), so too are the national Sub-20 and Sub-17 leagues in Mexico.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Lists of the Liga MX Transferibles
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">Liga MX</a>
                  span.posted-on November 16, 2013
                p.lead-in Some of the teams that missed out on this season’s Liguilla have already started making plans for January’s Clausura 2014.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Liga Ascenso MX Apertura 2013 Playoffs Underway
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">Ascenso MX</a>
                  span.posted-on November 15, 2013
                p.lead-in Liga de Ascenso MX (the Promotion League, Mexico’s second-tier league) wrapped up its regular season last weekend and the first stage of playoffs, or Liguilla, are already underway.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") 2013 USL-Pro Regular Season Attendance Statistics!
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">USL-Pro</a>
                  span.posted-on November 12, 2013
                p.lead-in Here’s a numerical rundown for each team in USL-Pro in alphabetical order.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Mexico Falls to Nigeria 3-0 in the U-17 World Cup Final
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">El Tri</a>
                  span.posted-on November 8, 2013
                p.lead-in In a rematch of its opening game of the 2013 U-17 World Cup Group Stage, Mexico again lost to Nigeria. In a much tighter affair than the 6-1 result on October 19, Mexico was still humbled by Nigeria the second time of asking.
                a(href="01-article-page.html").read-article Read more
            li
              article.article-preview
                h4.article-title
                  a(href="01-article-page.html") Mexico U-17 Coasts Past Argentina 3-0 En Route to the Final
                span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">El Tri</a>
                  span.posted-on November 5, 2013
                p.lead-in Raúl “Potro” Gutiérrez sent out the same starting lineup that defeated Brazil and Italy the week before. Mexico’s U-17 team has won 2 of the last 4 World Cups, 2011 in Mexico and 2005 in Peru, and is riding high after its emotional rollercoaster of an tournament.
                a(href="01-article-page.html").read-article Read more



    //- footer
    include ../modules/global-footer/html/global-footer.jade

  include ../html/foot.jade
</html>