include ../html/jade-helpers.jade
!!! 5

head
  title league overview demo
  meta(name="description", content="league overview demo")
  include ../html/head.jade
  +css("global-nav")
  +css("league-table")
  +css("league-clubs")
  +css("club-overview")


body
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    +partial("global-nav/html/global-nav.jade","modules/global-nav/data/global-nav.json")

    section#main
      div.wrapper
        section#league-overview(data-league="liga-mx", data-current-club="atlante")
          h2.league-name Liga MX
          
          //- interactive area
          section#interactive-area
            //- league table
            +partial("league-table/html/league-table-small.jade","modules/league-table/data/league-table.json")

            //- map
            section#map-wrapper
              div#map
              //- team overview
              +partial("club-overview/html/club-overview-small.jade","modules/club-overview/data/club-overview.json")
          //- league clubs
          +partial("league-clubs/html/league-clubs.jade","modules/league-clubs/data/league-clubs.json")


        section.notes
          ul
            li clicking the marker shows the stadium name



  include ../html/foot.jade
  +js("global-nav")
  script(src="", type="text/javascript")
  script(src="js/libs/mapbox.js")
</html>
