include ../../../html/jade-helpers.jade

header#global-header
  h1 
    a(href="00-home-page.html") Doherty Soccer

  nav#global-nav
    span#nav-toggle &nbsp;
      i.fi-list(title="Show navigation menu")
      i.fi-x(title="Close navigation menu")
    ul#nav-menu
      li(data-page="article")
        a(href="01-articles-index.html") Articles
      //- li
      //-   a(href="#") Competitions
      //- li
      //-   a(href="#") Players
      li(data-page="signin")#sign-in
        a(href="03-login.html") Sign In
        
      li(data-page="search")#search
        span#search-text Search
        i.fi-magnifying-glass
        //- form#search-field
          input(type="text", placeholder="Search")