include ../../../html/jade-helpers.jade

header#global-header
  h1 
    a(href="00-home-page.html") Doherty Soccer

  nav#global-nav
    span#nav-toggle &nbsp;
      i.fi-list(title="Show navigation menu")
      i.fi-x(title="Close navigation menu")
    ul#nav-menu
      li.here
        a(href="01-articles-index.html") Articles
      //- li
        a(href="#") Competitions
      //- li
        a(href="#") Players
      li#sign-in
        a(href="#") Sign In
        
        //- div.flex-all
          a(href="#") Sign In
          i.fi-minus(title="Close login form")
        //- div#login-form-wrapper
          form#login-form(action="#", method="POST")
            label#username-label
              span Username
              input(type="text")
            label
              span Password
              input(type="password")
            div.flex-all
              span#forgot-password
                a(href="#") Forgot password?
              span
                a(href="#") Register
                input(type="submit", value="Login")

      li#search
        span#search-text Search
        i.fi-magnifying-glass
        //- form#search-field
          input(type="text", placeholder="Search")