@import "../../../style/pieces/vars";
@import "../../../style/pieces/mixins";

.comment {
  @include flexbox();
  i {
    font-size: 175%;
    color: $silver;
    // color: lighten($black, 70%);
    @include transition(color, 0.3s);
    &:hover {
      cursor: pointer;
    }
  }
}
.comment-vote {
  @include flex(1);
  list-style: none;
  text-align: center;
  @include px(max-width, 20px);
  margin-right: 0.5rem;
  li {
    border: none;
    padding: 0;
    margin: 0;
    &:first-child i:hover {color: $green;}
    &:last-child i:hover {color: $black;}
  }
}

.comment-content {
  @include flex(14);
}


.comment-meta{
  color: lighten($black, 30%);
  @include px(font-size, 14px);
  @include units(margin-bottom, 0.25);
  a {
    font-family: $bold;
    color: $green;
    @include transition(color, 0.3s);
    &:hover {color: $black;}
  }
}



.comment-actions {
  color: lighten($black, 25%);
  @include px(font-size, 12px);
  li {
    @include hover();
    &:after {content: " | ";}
    &:last-child:after {content: "";}
  }
}
