// base styles
@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/base";
@import "pieces/typography";

// icon set
// @import "font-awesome/font-awesome";
#main {
  @include rems(margin-top, 78px);
  @include rems(margin-bottom, 78px);
}

// pages
#homepage {
  #article-preview, #recent-posts {
    float: left;
  }
}
#recent-posts {
  @include rems(max-width, 520px);
  border-top: 3px solid $black;
  @include rems(margin-top, 52px);
  @include mq(desktop) {
    @include rems(margin-top, 169px);
    @include rems(margin-left, 104px);
    @include rems(padding-top, 26px);
  }
  h3 {
    text-transform: uppercase;
    @include rems(font-size, 14px);
    @include rems(margin-bottom, 26px);
  }
}
