// base styles
@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/base";
@import "pieces/icons";
@import "pieces/typography";

// libraries
@import "libs/mapbox";

#main {
  @include px(margin-top, 40px);
  padding-top: 2rem;
}
// .flex
.flex {
  @include mq(netbook) {
    @include flexbox();
  }
}
.flex-all {
  @include flexbox();
}

%wrapper {
  margin: 0 5%;
  @include mq(netbook) {margin: 0 10%;}
}

// page styles
@import "pages/about-page";
@import "pages/privacy-policy";
@import "pages/all-articles";
@import "pages/article-category";
@import "pages/article-page";
@import "pages/homepage";