include ../../../html/jade-helpers.jade
!!! 5

head
  title league table demo
  meta(name="description", content="league table demo")
  include ../../../html/head.jade
  //- +css("global-nav")

body
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    +partial("league-table/html/league-table.jade","modules/league-table/data/league-table.json")

  include ../../../html/foot.jade
  //- +js("global-nav")
</html>
