$background: #222;
$text: #fff;

$regular: 'fontin_sans_rgregular';
$bold: 'fontin_sans_rgbold';
$italic: 'fontin_sans_rgitalic';
$boldItalic: 'fontin_sans_rgbold_italic';
$smallCaps: 'fontin_sans_scsmall_caps';
