include ../../../html/jade-helpers.jade
!!! 5

head
  title article preview demo
  meta(name="description", content="article preview demo")
  include ../../../html/head.jade
  +css("article")

body
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    .wrapper
      +partial("article/html/article-preview.jade","modules/article/data/article.json")

  include ../../../html/foot.jade
  //- +js("article-preview")
</html>
