ul.recent-articles
  - for (i=0; i<data.length; i++) {
  li
    article.article-preview
      //- title
      h2.article-title
        a(href="01-article-page.html") #{data[i].title}
      //- meta
      span.article-meta Posted in <a href="01-article-category-series.html" class="article-category">#{data[i].postMeta.category}</a>
          span.posted-on #{data[i].postMeta.date}
      p
        a(href="01-article-page.html").read-more Read more
  - }
