@import "../../../style/pieces/vars";
@import "../../../style/pieces/mixins";

$nav-border: #4d4d4d;

#gloval-nav-footer {
  position: absolute;
  // bottom: 0;
  top: 97.5%;
}
#footer-links {
  color: #999999;
  @include units(padding-left, 2);
  @include px(padding-bottom, 8px);
  @include rems(font-size, 12px);
  li {
    &:after {
      content: "\2013";
      @include rems(padding-left, 4px);
      @include rems(padding-right, 2px);
    }
    &:last-child:after {content: "";}
  }
  a {
    border-bottom: 1px solid $black;
    @include transition(border-color, 0.3s);
    &:hover {border-bottom: 1px solid #999999;}
  }
}
#footer-sections {
  background: darken($black, 5%);
  @include rems(font-size, 14px);
  color: lighten($white, 25%);
  @include units(padding-left, 2);
  @include units(padding-right, 1);
  section {
    @include px(padding, 12px, 0, 6px);
  }
}
.nav-footer-header {
  @include rems(font-size, 14px);
  @include px(padding-top, 8px);
}